In [2]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 
import pickle
import xgboost as xgb
import sklearn
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error

In [3]:
titanic_train = pd.read_csv('titanic_train.csv', delimiter=",")
titanic_test = pd.read_csv('titanic_test.csv', delimiter=",")

In [4]:
titanic_train = titanic_train[['gender.female', 'gender.male', 'age', 'class.1st',
       'class.2nd', 'class.3rd', 'class.deck.crew', 'class.engineering.crew',
       'class.restaurant.staff', 'class.victualling.crew', 'embarked.Belfast',
       'embarked.Cherbourg', 'embarked.Queenstown', 'embarked.Southampton',
       'fare', 'sibsp', 'parch', 'survived']]
titanic_test = titanic_test[['gender.female', 'gender.male', 'age', 'class.1st',
       'class.2nd', 'class.3rd', 'class.deck.crew', 'class.engineering.crew',
       'class.restaurant.staff', 'class.victualling.crew', 'embarked.Belfast',
       'embarked.Cherbourg', 'embarked.Queenstown', 'embarked.Southampton',
       'fare', 'sibsp', 'parch', 'survived']]
titanic_train_Y = titanic_train[['survived']]
titanic_train_X = titanic_train[['gender.female', 'gender.male', 'age', 'class.1st',
       'class.2nd', 'class.3rd', 'class.deck.crew', 'class.engineering.crew',
       'class.restaurant.staff', 'class.victualling.crew', 'embarked.Belfast',
       'embarked.Cherbourg', 'embarked.Queenstown', 'embarked.Southampton',
       'fare', 'sibsp', 'parch']]
titanic_test_Y = titanic_test[['survived']]
titanic_test_X = titanic_test[['gender.female', 'gender.male', 'age', 'class.1st',
       'class.2nd', 'class.3rd', 'class.deck.crew', 'class.engineering.crew',
       'class.restaurant.staff', 'class.victualling.crew', 'embarked.Belfast',
       'embarked.Cherbourg', 'embarked.Queenstown', 'embarked.Southampton',
       'fare', 'sibsp', 'parch']]

In [11]:
model = xgb.sklearn.XGBClassifier(max_depth= 3, learning_rate=0.1, n_estimators=100, booster='gbtree', gamma=0, 
                                 min_child_weight=1, max_delta_step=0, subsample= 1, reg_alpha=0, reg_lambda=1)

In [12]:
model = model.fit(titanic_train_X, titanic_train_Y)

C:\Users\szyna\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\szyna\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
y_pred = model.predict_proba(titanic_test_X)
y_pred

array([[0.41691422, 0.5830858 ],
       [0.81749856, 0.18250142],
       [0.05115843, 0.9488416 ],
       ...,
       [0.8366309 , 0.16336913],
       [0.8308338 , 0.16916622],
       [0.92606205, 0.07393794]], dtype=float32)

In [14]:
sklearn.metrics.roc_auc_score(titanic_test_Y, y_pred[:,1])

0.8241337117414136

In [15]:
pickle.dump(model, open("pima.pickle.pkl", "wb"))